body {
    background-color: #333;
}

.bg-div {
    position: relative;
    background-image: url('../img/river.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 1890px;
    height: 915px;
}

.logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 107px;
    height: 53px;
    margin: -4px 18px 0 0;
    float: left;
}

form {
    color: #
    background-color: white;
    padding: 5px;
    float: left;
}

.search-input-text {
    border: 0;
    width: 350px;
    height: 25px;
    line-height: 25px;
    outline: none;
    float: left;
}

.search-input-button {
    border: 0;
    background-image: url('../img/search-button.png');
    width: 29px;
    height: 29px;
    cursor: pointer;
    float: left;
}

.search-box {
    position: absolute;
    top: 200px;
    left: 300px;
}

.suggest {
    display: none;
    position: absolute;
    width: 388px;
    background-color: #fff;
    border: 1px solid #999;
}

.suggest ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.suggest ul li {
    padding: 3px;
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
}

.suggest ul li:hover {
    text-decoration: underline;
    background-color: #e5e5e5;
}